[core]
  excludesfile = ~/.osx_settings/.global_gitignore
  whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
[alias]
  co = checkout
  st = status
  ci = commit
  up = pull
  br = branch
  df = diff
  lg = log -p
  aa = add --all
  # Pretty!
  # via http://andyjeffries.co.uk/articles/25-tips-for-intermediate-git-users
  lol = log --pretty=oneline --abbrev-commit --graph --decorate
  unstage = reset HEAD
  done = !git fetch && git rebase origin/master && git checkout master && git merge @{-1} && rake && git push
  up = !git fetch origin && git rebase origin/master
  # Not yet added - doesn't include ignored files
  new = ls-files --others --exclude-standard
  # Files that are in the staging area
  added = diff --cached --name-only
  today = log --stat --since='1 Day Ago' --graph --pretty=oneline --abbrev-commit --date=relative
  plre = pull --rebase
  ff = merge --ff-only
  newauthor = commit --amend --reset-author -C HEAD
[color]
  ui = true
  diff = auto
  status = auto
  branch = auto
[help]
  autocorrect = 1
[diff]
  renames = copies
[diff "ruby"]
  funcname = ^ *\\(\\(class\\|module\\|def\\) .*\\)
[url "git@heroku.com:"]
  insteadOf = heroku:
[url "git://github.com/"]
  # Read-only
  insteadOf = gh:
[url "git@github.com:"]
  # With write access
  insteadOf = wgh:
[push]
  default = upstream
[branch]
  autosetuprebase = always
