[core]
  excludesfile = ~/.gitignore
  whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
[alias]
  co = checkout
  st = status
  ci = commit
  up = pull
  br = branch
  df = diff
  lg = log -p
  aa = add --all
[color]
  ui = true
  diff = auto
  status = auto
  branch = auto
[diff "ruby"]
  funcname = ^ *\\(\\(class\\|module\\|def\\) .*\\)
[push]
  default = tracking
[branch]
  autosetuprebase = always
